#sai{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSGf-5uHYE7fOwqcxZcwW7auCVcYwHh5ijM-A&usqp=CAU");
    background-size: cover;
    background-position: center;
  
    margin: auto;
}
#raja{
    border-radius: 50%;
    margin-left: 200px;
}
#sree{
    border-radius: 50%;
   
}
#abcd{
    color: maroon;
}
#efgh{
    color: cornflowerblue;
}
    
    
