p::first-letter{
    color: aqua;
}
p::first-line{
    color: brown;
}
ul>li:nth-child(2n){
    color: chartreuse;
}
#abcd{
    color: darkblue;
    background-color: darkgoldenrod;

}
#abcd:hover{
    color: darkgreen;
}
#abcd:active{
    color: gold;
}
#abcd:focus{
    color: hotpink;
}
p::selection{
    color: indigo;
}
